.container{
    margin-bottom: 100px;
}
.grey-bg{
    background-color: #f0eceb;
    border-radius: 10px;
    border: 1px rgb(212, 209, 212) solid;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
   color: #ff136f; 
}
.buy-now{
    background: linear-gradient(to bottom, #ff5395 0%, #ff136f 100%);
    padding: 5px 15px;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}
.cat1{
    background: linear-gradient(100deg, rgb(235, 164, 34), rgb(189, 189, 28));
    border-radius: 15px;
    padding: 10px 30px;
    color: white;
}
.cat2{
    background: linear-gradient(100deg,rgb(236, 61, 163), rgb(199, 3, 156) );
    border-radius: 15px;
    padding: 10px 30px;
    color: white;
}
.cat3{
    background: linear-gradient(100deg,rgb(28, 146, 243),rgb(9, 68, 228));
    border-radius: 15px;
    padding: 10px 30px;
    color: white;
}
.categories img{
    width: 120px;
}
.shoe-buy-now{
    background: linear-gradient(to bottom, #ff5395 0%, #ff136f 100%);
    padding: 5px 15px;
    color: white;
    border: none;
    border-radius: 6px;
    margin-top: 10px;
    cursor: pointer;
}

.card{
    border-radius: 8px;
    box-shadow: 5px 5px 5px grey;
    
}

.shoes, .bags{
    border: 1px rgb(212, 209, 212) solid;
    border-radius: 8px;
}
.form-control{
    border: 0.5px solid rgb(40, 130, 248);
    border-radius: 5px;
}